.jumbotron {
    background-color: #007EA7;
    text-align: center;
    /* margin-top:  1rem; */
}
.card {
    background-color: rgb(119, 135, 139);
    text-align: center;
    width: 100%;
}
.card-body {
    /* display: flex; */
    justify-content: space-around;
}